:root{
    --color-c0:rgb(178,178,108);
    --color-c1:rgb(178,178,108,0.8);
    --color-c2:rgb(178,178,108,0.4);
    --color-c3:rgb(178,178,108,0.2);
    --color-c4:#eddaa2;
    --color-c5:rgb(138, 127, 70);
    --color-g0:rgba(150, 150, 150,1);
    --color-g1:rgba(250, 245, 245, 1);
    --color-g2:rgba(240, 240, 240, 1);
    --font-f1:"Montserrat", sans-serif;
    --size-xs:8px;
    --size-s:10px;
    --size-ms:12px;
    --size-m:14px;
    --size-ml:18px;
    --size-l:22px;
}