:root{
    --color-c0:rgb(178,178,108);
    --color-c1:rgb(178,178,108,0.8);
    --color-c2:rgb(178,178,108,0.4);
    --color-c3:rgb(178,178,108,0.2);
    --color-c4:rgb(237, 218, 162);
    --color-g0:rgba(150, 150, 150,1);
    --color-g1:rgba(250, 250, 240, 1);
    --color-g2:rgba(240, 240, 240, 1);
    --font-f1:"Montserrat", sans-serif;
    --size-xs:10px;
    --size-s:12px;
    --size-ms:14px;
    --size-m:16px;
    --size-ml:18px;
    --size-l:22px;
}