@import url('root.css');
:root {
  --header-Height:6rem;
  --header-Width:100vw;
  --logo-container-Width:28rem;
  --logo-Height:5rem;
  --logo-Width:5rem;
}


 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

header {
  height: var(--header-Height);
  width: var(--header-Width);
  color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 4px solid var(--color-c1);
}
main {
  display: flex;
  width: 100%;
  height: calc(100% - var(--header-Height));
}

.logo-container {
  position: relative;
  width: var(--logo-container-Width);
  display: flex;
  padding: 0px;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.logo-placeholder {
  display: flex;
  height: var(--logo-Height);
  width: var(--logo-Width);
}

.logo {
  height: var(--logo-Height);
  width: var(--logo-Width);
  object-fit: cover;
}

.logo-container:hover .logo {
  transform: rotate(135deg);
}

.site-title {
  margin: 0;
  padding: 0px;
  font-size: var(--size-ml);
  text-align: left;
  font-family: var(--font-f1);
  font-weight: 500;
}

.phases-container {
  width: 5rem;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.nav-container {
  position: relative;
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.site-navigation {
  position: relative;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.category {
  display: none;
  flex-direction: column;
  position: relative;
  z-index: 1;
  border: 2px solid blue;
}

.category.active {
  display: flex;
  flex-direction: column;
  position: relative
}

.category.active .subcategory {
  display: flex;
}

.category-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding: 2.5px;
}

.close-category {
  padding-right: 5px;
  color: black;
}
.subcategory {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: calc(100% - var(--header-Height));
}
/*/Subcategory-Sidebar/*/

.subcategory-sidebar{
  display: flex;
  flex-direction: column;
  width: var(--logo-container-Width);
  position: relative;
  align-items: center;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.subcategory-sidebar-top {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: var(--logo-container-Width);
  font-family: var(--font-f1);
  font-weight: 400;

}
.subcategory-sidebar-content-container{
  position: absolute;
  display: block;
  height: 100%;
  width: var(--logo-container-Width);
  flex: 1;
}
.subcategory-sidebar-content{
  position: relative;
  display: flex;
  width: var(--logo-container-Width);
  
  height: 100%;
}
.sidebar-content{
  position: absolute;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  width: var(--logo-container-Width);
  flex: 1;
  background-color: var(--color-g2);
  overflow: auto;
}
.subcategory-sidebar-top>.category-title-container {
  display: inline-block;
  position: sticky;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 2rem;
  width: var(--logo-container-Width);
  background-color: var(--color-c0);

}
.subcategory-sidebar-top>.category-title-container>.category-title-text {
  position: absolute;
  width: var(--logo-container-Width);
  text-decoration: underline;
  font-family: var(--font-f1);
  font-weight: 500;
  font-size: var(--size-ms);
}
.subcategory-sidebar-top>.subcategory-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: var(--logo-container-Width);
  z-index: 1;
}
.subcategory-title-container {
  width: var(--logo-container-Width);
  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: var(--font-f1);
}

.subcategory-title-btn {
  flex: 1;
  font-size: var(--size-s);
  height: 2rem;
  background-color: var(--color-c1);
  border: 2px dotted var(--color-c2);
}

.subcategory-title-btn:hover {
  background-color: var(--color-c4);
}

.subcategory-constrols-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
}

.subcategory-btn-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 0.5;
  width: 100%;
  background-color: var(--color-g2);
  border: 1px dashed grey;
}

.subcategory-btn-controls:hover {
  background-color: var(--color-c2);
}

.subcategory-btn-arrow {
  flex: 1;
  display: inline-block;
  background-color: transparent;
  font-size: var(--size-ms);
  font-weight: 100;
}

.close-sidebar {
  background-color: var(--color-c1);
}

.close-menu {
  background-color: var(--color-g1);
}

.subcategory-btn-arrow.rotated {
  transform: rotate(180deg);
}



.subcategory-menu.closed {
  display: none;
}
.subcategory-menu, .subcategory-sidebar {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.subcategory-menu.closed, .subcategory-sidebar.closed {
  transform: translateX(-100%); 
  opacity: 0; 
}

.data-container{
  width: var(--logo-container-Width);
  height: 100%;
  flex: 1;
}
.resizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  cursor: ew-resize;
}

.resizer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -5px;
  cursor: ew-resize;
}

.hidden {
  display: none;
}
.active {
  display: block;
}
.open {
  display: block;
}


@media (max-width: 768px) {
  .dbl-menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
  }

  .dbl-menu-toggle {
      display: block;
  }

  .menu-item {
      margin: 1rem 0;
      text-align: center;
  }
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.logo-container>.logo-title-container{
  background-color: transparent;
  padding: 0px ;
  margin:0px;
  width: 6rem;
}
.site-title {
  margin: 0;
  padding: 0px;
  font-size: var(--size-ml);
  text-align: left;
  font-family:var(--font-f1);
  font-weight: 500;

}
.phases-container{
  position: relative;
  width: 5rem;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.phases-text{
  text-align: left;
}
.nav-container {
  position: relative;
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  display: flex;
  
}
.nav-container>.phases-navigation{
  text-align: center;
  height: var(--header-Height);
}

.branding {
  display: flex;
  align-items: center;
}

.site-navigation {
  position: relative;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.category.active{
  display: flex;
}
.category.active .subcategory{
  display: flex;
}
.category-top{
  display: flex;
  justify-content: flex-end;
  flex-direction:row;
  align-items: center;
  height: 2rem;
  padding: 2.5px;
}
.close-category{
  padding-right: 5px;
  color: black;
}
.category-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--logo-container-Width);
}

.category-title-text {
  display: flex; /* Asegura que el h2 sea un contenedor flex */
  align-items: center; /* Centra verticalmente el texto dentro del h2 */
  justify-content: center; /* Centra horizontalmente el texto dentro del h2 */
  width: 100%; /* Asegura que el h2 tome todo el ancho del contenedor padre */
  height: 2rem;
  text-align: center; /* Centra el texto dentro del h2 */
  text-decoration: underline;
}
.subcategory{
  display: flex;
  flex: 1 ;
  flex-direction: row;
  height: calc(100% -( var(--header-Height)));
  position: relative;
}

.subcategory-section{
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.subcategory-title-container {
  width: var(--logo-container-Width);
  height: auto;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; /* Para centrar los botones verticalmente */
}
.subcategory-menu {
  position: relative;
  min-width: 20rem;
  height: 100%;
  background-color: var(--color-g1);
}
.subcategory-menu-content-container{
  position: absolute;
  overflow:auto;
  width: 100%;
  height: 100%;

}
.subcategory-content{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: var(--color-g2);
  padding:0.5rem 1.5rem 0.5rem 1.5rem ;
  z-index: 2;

}
.subcategory-constrols-container{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  width: 1.5rem;

}
/*//*/
.subcategory-btn-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 0.5;
  width: 100%;
  background-color: var(--color-g2);
  border: dashed grey 1px;
}
.subcategory-btn-controls:hover{
  background-color: var(--color-c2);
}
.subcategory-btn-arrow{
  flex: 1;
  display: inline-block;
  background-color: transparent;
  font-size: var(--size-ms);
  font-weight: 100;
}
.close-sidebar{
  background-color: var(--color-c1);
}
.close-menu{
  background-color: var(--color-g1);
}
.subcategory-btn-arrow.rotated {
  transform: rotate(180deg); 
}

.subcategory-sidebar.closed {
  display: none; 
}
.resizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0; 
  cursor: ew-resize;
  z-index: 3;
}

.resizer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -5px; 
  cursor: ew-resize;
}
.category.open {
  display: block;
}

.sidebar.hidden {
  display: none;
}

button.toggle-sidebar {
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.dbl-table {
  display: none; 
}

.dbl-table.active {
  display: block; 
}

.dbl-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu-item {
  margin: 0 1rem;
  position: relative;
  text-align: left;
}

.menu-item a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: var(--font-f1);
}

.icon-placeholder {
  width: 20px;
  height: 20px;
  background-color: white;
  margin-right: 0.5rem;
}
.arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  margin-left: 10px;
}
.arrow.open {
  transform: rotate(90deg);
}
.arrow.down {
  transform: rotate(90deg);
}
.menu-item a:hover {
  text-decoration: underline;
  background-color: var(--color-c1);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--color-c0);
  padding: 1rem;
  list-style: none;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1000;
}
.dropdown-menu.show-dropdown {
  display: block; 
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 0;
}

.dropdown-menu .dropdown-item a {
  color: black;
}

.dropdown-arrow {
  font-size: 14px; 
  margin-left: 5px;
  vertical-align: middle; 
  transition: transform 0.3s ease; 
}

.rotate-down {
  transform: rotate(90deg); 
}

.dropdown-menu .dropdown-submenu {
  padding: 0.5rem 0 0 1rem;
  color: #ddd;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .dbl-menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
  }
  
  .dbl-menu-toggle {
      display: block;
  }

  .menu-item {
      margin: 1rem 0;
      text-align: center;
  }

  .site-navigation[aria-expanded="true"] .menu {
      display: flex;
  }
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

#viewer-container {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
  border: 2px solid red;
  background-color: transparent;
  min-width: 0;
}

.arrow {
    display: inline-block;
    transition: transform 0.2s;
}
.arrow.down {
    transform: rotate(90deg);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}
.hidden {
  display: none;
}
.open {
  display: block;
} 
.grid{
  display: flex;
  flex-direction: column;
}
.cell{
  font-size: var(--size-s);
}
.subcategory-section-title{
  font-size: var(--size-ms);
  font-family: var(--font-f1);
  text-decoration: underline;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.subcategory-section td {
  padding: 5x; /* Añade relleno para espaciar el contenido de las celdas */
  border: 1px solid #ccc; /* Añade bordes para separar visualmente las celdas */
  text-align: center; /* Centra el texto dentro de las celdas */
}

/* Primeras dos columnas */
.subcategory-section td:nth-child(1),
.subcategory-section td:nth-child(2) {
  width: 40%; /* Establece el ancho al 40% para la primera y segunda columna */
  text-align: left;
}

/* Tercera columna */
.subcategory-section td:nth-child(3) {
  width: 20%; /* Establece el ancho al 20% para la tercera columna */
}